@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-ExtraLight.ttf) format('truetype'),
        url(/css/fonts/Hauora-ExtraLight.woff2) format('woff2'),
        url(/css/fonts/Hauora-ExtraLight.woff) format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-Light.ttf) format('truetype'),
        url(/css/fonts/Hauora-Light.woff2) format('woff2'),
        url(/css/fonts/Hauora-Light.woff) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-Regular.ttf) format('truetype'),
        url(/css/fonts/Hauora-Regular.woff2) format('woff2'),
        url(/css/fonts/Hauora-Regular.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-Medium.ttf) format('truetype'),
        url(/css/fonts/Hauora-Medium.woff2) format('woff2'),
        url(/css/fonts/Hauora-Medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-SemiBold.ttf) format('truetype'),
        url(/css/fonts/Hauora-SemiBold.woff2) format('woff2'),
        url(/css/fonts/Hauora-SemiBold.woff) format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-Bold.ttf) format('truetype'),
        url(/css/fonts/Hauora-Bold.woff2) format('woff2'),
        url(/css/fonts/Hauora-Bold.woff) format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Hauora';
  src: url(/css/fonts/Hauora-ExtraBold.ttf) format('truetype'),
        url(/css/fonts/Hauora-ExtraBold.woff2) format('woff2'),
        url(/css/fonts/Hauora-ExtraBold.woff) format('woff');
  font-weight: 800;
}

:root {
  --section-spacing: 6em;
  --header-width: 36em;
  --main-width: 64em;
}

:root.light {
  --color-background: white;
  --color-text: dimgray;
  --color-text-secondary: lightgray;
  --color-faint: gainsboro;

  --whale-background: Lavender;
  --whale-body: MediumPurple;
  --whale-belly: SlateBlue;
  --whale-eye: Indigo;

  --visible-dark: none;
  --visible-light: block;
}

:root.dark {
  --color-background: black;
  --color-text: silver;
  --color-text-secondary: dimgray;
  --color-faint: DimGray;

  --whale-background: Indigo;
  --whale-body: MediumPurple;
  --whale-belly: SlateBlue;
  --whale-eye: lavender;

  --visible-dark: block;
  --visible-light: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-text: silver;
    --color-text-secondary: dimgray;
    --color-faint: DimGray;
  
    --whale-background: Indigo;
    --whale-body: MediumPurple;
    --whale-belly: rgb(33, 31, 46);
    --whale-eye: lavender;
  
    --visible-dark: block;
    --visible-light: none;
  }
} */

@media only screen and (min-width: 72em) {
  div {
    columns: auto 3;
    column-gap: 40px;
    column-rule: 1px dotted var(--color-faint);
  }
}

@media only screen and (max-width: 72em) {
  :root {
    --section-spacing: 6em;
    --header-width: 36em;
    --main-width: 40em;
  }

  div {
    columns: auto 2;
    column-gap: 20px;
  }
}

@media only screen and (max-width: 48em) {
  :root {
    --section-spacing: 6em;
    --header-width: 32em;
    --main-width: 32em;
  }

  div {
    columns: auto 1;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

body {
    padding: 0em 2em;
    font-family: "Hauora", sans-serif;
    font-weight: 500;
    color: var(--color-text);
    background-color: var(--color-background);
}

nav {
  margin-bottom: 2em;
  /* margin-top: var(--section-spacing);; */
  /* background-color: red; */
}

svg {
  display: block;
}

main {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 6em 0 6em 0;
  /* background-color: blue; */
}

main > header {
  max-width: var(--header-width);
  margin-bottom: var(--section-spacing);
}

section {
  max-width: var(--main-width);
  margin-bottom: var(--section-spacing);
}

h1 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

time {
  font-size: 1.5em;
  font-weight: 300;
  text-align: right;
  color: var(--color-text-secondary);
}

p {
  margin-bottom: 1.6em;
  line-height: 1.6em;
}

article {
  margin-bottom: var(--section-spacing);
}

article > header {
  display: grid;
  /* flex-flow: row wrap; */
  grid-template-columns: auto 3em;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-bottom: 1em;
}

article > header > * {
  flex: 1 auto;
}

iframe {
  width: 100%;
  height: 20em;
  animation: fadein 1s;
  overflow: hidden;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* div {
  columns: auto 3;
  column-gap: 40px;
  column-rule: 1px dotted var(--color-faint);
} */

p > a, p > a:link, p > a:visited {
  display:inline;
  position:relative;
  padding: 0em 0.2em;
  text-decoration:none;
  color: var(--whale-eye);
  white-space: nowrap;
  border-radius: .25em;
  overflow: hidden;
}

p > a:focus {
  outline: 1px dashed var(--whale-belly);
}

p > a:before {
  transform:scaleY(.4);
  transform-origin:bottom right
}

p > a:hover:before {
  transform:scaleY(1);
  transform-origin:bottom left;
}

p > a:before{
  content:" ";
  display:block;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  inset:0 0 0 0;
  background: var(--whale-background);
  z-index:-1;
  transition: transform .25s ease;
  border-radius: .25em;
  overflow: hidden;
}

button {
  padding: 0.5em 1em;
  background: var(--whale-background);
  color: var(--whale-eye);
  white-space: nowrap;
  border-radius: .25em;
  overflow: hidden;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1em;
  margin-right: 0.4em;
  transition: background .25s ease, color .25s ease;
}

button:hover {
  background: var(--whale-body);
  color: var(--whale-background);
}
