* {
	padding: 0;
	margin: 0;
}

:root {
	--shadow-normal: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05))
	  drop-shadow(0px 8px 24px rgba(0, 0, 0, 0));
	--shadow-large: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.05))
	  drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.08));
  }

html, body {
	width: 100%;
	height: 100%;
	background: transparent url(canvas.png) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

#upshot {
	left: 2em;
	top: -1em;
	bottom: 20px;
	height: 24em;
	position: absolute;
	filter: var(--shadow-normal);
	border-radius: 8px;
	overflow: hidden;
	/* background-color: red; */
}

#upthere {
	top: 5em;
	left: 30%;
	width: 716px;
	height: 24em;
	position: absolute;
	filter: var(--shadow-normal);
	border-radius: 8px;
	overflow: hidden;
	/* background-color: red; */
}

#icon_upshot {
	position: absolute;
	left: 7em;
	top: 21em;
	width: 64px;
	height: 64px;
	background: transparent url("icon_upshot.png") 0 0 no-repeat;
	background-size: 100% 100%;
	filter: var(--shadow-large);
	overflow: hidden;
}

#icon_home {
	position: absolute;
	left: 40em;
	top: 3em;
	width: 64px;
	height: 64px;
	background: transparent url("icon_home.png") 0 0 no-repeat;
	background-size: 100% 100%;
	filter: var(--shadow-large);
	overflow: hidden;
}

@media only screen and (max-width: 48em) {
	#upshot {
		left: 1em;
		top: 9em;
		/* bottom: 2em; */
		height: 18em;
		position: absolute;
	}
	
	#upthere {
		top: 1em;
		left: 19%;
		height: 18em;
		width: 536px;
		position: absolute;
	}

	#icon_upshot {
		left: auto;
		right: 9em;
		top: 21em;
		width: 80px;
		height: 80px;
	}
	
	#icon_home {
		left: auto;
		right: 2em;
		top: 21em;
		width: 80px;
		height: 80px;
	}
}
