---
layout: default
title: laurent baumann
description: Research, execution, growth. I discover pain points, design solutions, and help people discover them.
ogTitle: Laurent Baumann
ogDescription: Research, execution, growth.
ogImage: TODO
---
<header>
	<h1>Laurent Baumann</h1>
	<p>I am currently the CEO and cofounder of <a target="_blank" href="https://tilde.so">Tilde</a>.</p>
	<p>Since 2006, I helped companies such as Sophiestication, Bohemian Coding, Upthere, Apple, Sandisk, and more to build products used by millions.</p>
	<p>On this website, I try to showcase some interactive elements or a little bit of the process. There will always be a link if you want to see the final product.</p>
	<a target="_blank" href="https://twitter.com/lobau"><button>Twitter</button></a>
	<a target="_blank" href="https://dribbble.com/lobau"><button>Dribbble</button></a>
	<a target="_blank" href="https://www.linkedin.com/in/laurentbaumann/"><button>Linkedin</button></a>
</header>

<!-- <h1 style="font-weight: 100; font-variation-settings: 'wght' 100;">Laurent Baumann 100</h1>
<h1 style="font-weight: 200; font-variation-settings: 'wght' 200;">Laurent Baumann 200</h1>
<h1 style="font-weight: 300; font-variation-settings: 'wght' 300;">Laurent Baumann 300</h1>
<h1 style="font-weight: 400; font-variation-settings: 'wght' 400;">Laurent Baumann 400</h1>
<h1 style="font-weight: 500; font-variation-settings: 'wght' 500;">Laurent Baumann 500</h1>
<h1 style="font-weight: 550; font-variation-settings: 'wght' 550;">Laurent Baumann 550</h1>
<h1 style="font-weight: 575; font-variation-settings: 'wght' 575;">Laurent Baumann 575</h1>
<h1 style="font-weight: 600; font-variation-settings: 'wght' 600;">Laurent Baumann 600</h1>
<h1 style="font-weight: 700; font-variation-settings: 'wght' 700;">Laurent Baumann 700</h1>
<h1 style="font-weight: 800; font-variation-settings: 'wght' 800;">Laurent Baumann 800</h1>
<h1 style="font-weight: 900; font-variation-settings: 'wght' 900;">Laurent Baumann 900</h1> -->


<section>
	{% for post in site.posts %}
	<iframe src="/frames/{{ post.frameUrl }}/index.html"></iframe>
	<article>
		<header>
			<h2>{{ post.title }}</h2>
			<time>{{ post.date | date: "%Y" }}</time>
			<aside>{{ post.aside | markdownify }}</aside>
		</header>
		<div>
			{{ post.content }}
		</div>
	</article>
	{% endfor %}
</section>

{% include footer.html %}
