<nav>
    <svg onclick="toggleTheme()" width="64" height="64" xmlns="http://www.w3.org/2000/svg">
        <path d="M32 0A32 32 0 0 0 0 32h64A32 32 0 0 0 32 0Z" fill="var(--whale-background)"/>
        <path d="M32 64a32 32 0 0 0 32-32H0a32 32 0 0 0 32 32Z" fill="var(--whale-belly)"/>
        <path d="M57.3 51.5A31.7 31.7 0 0 0 64 32c0-10.8-5.2-21.5-15.1-22.1-.4 0-.7.4-.6.8.6 2 .8 3.6 1 5.1l.4 2.4-2.8.7c-1.9.5-4 1.1-6.3 1-.5 0-.8.5-.6.9 3.3 7.5 13.6 8 16.2 6.5.6 2.5-2.2 4.7-6.4 4.7H0v1.1a43.5 43.5 0 0 0 57.3 18.4Z" fill="var(--whale-body)"/>
        <path d="M21 41C21 41 23 44 26 44C29.0702 44 31 41 31 41" fill="none" stroke="var(--whale-background)" stroke-width="2" stroke-linecap="round" style="display: var(--visible-dark)" />
        <circle cx="26" cy="42" r="2" fill="var(--whale-eye)" style="display: var(--visible-light)" />
    </svg>
</nav>
