@font-face {
    font-family: 'Plus Jakarta';
    src: url(PlusJakartaSans.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Plus Jakarta", system-ui, sans-serif;
    outline: 1px solid rgba(255, 0, 0, 0.5);
}

:root {
    --rem-size: 16px;
    --text-color: rgb(56, 52, 42);
    --padding-large: 80px;
}

html,
body {
    font-size: var(--rem-size);
    background-color: #fefefe;
}

h1 {
    margin: 1rem auto 2rem auto;
    color: var(--text-color);
}

h2 {
    padding: 2rem var(--padding-large);
    color: var(--text-color);
}

h3 {
    color: var(--text-color);
}

header {
    padding: var(--padding-large);
    text-align: left;
    margin: 0 auto;
}

header>p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    max-width: 540px;
}

button {
    margin: 16px 16px 0px 0px;
    padding: 12px 24px;
    border-radius: 50px;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    cursor: pointer;
}

button>svg {
    display: inline-block;
    vertical-align: -8%;
    margin-left: 2px;
    margin-right: 8px;
    fill: var(--text-color);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 var(--padding-large) var(--padding-large) var(--padding-large);
    margin: 0 auto;
}

section {
    display: block;
    border-radius: 32px;
    overflow: hidden;
}

article {
    padding: 40px;
}

time {
    display: block;
    margin-bottom: 20px;
}

article>p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

section>img {
    display: block;
    width: 100%;
}

p {
    margin-bottom: 16px;
}

a,
a:link,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}

@media only screen and (max-width: 720px) {
     :root {
        --padding-large: 40px;
    }
}