:root {
    --em-size: 16px;
    --font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

    --c-plate: white;
    
    --c-mochi0: #3F3A36;
    --c-mochi10: #F8F8F7;
    --c-mochi20: #DBDAD9;
    --c-mochi25: #B8B6B4;
    --c-mochi30: #898683;

    --c-banana0: #823E08;
    --c-banana10: #FFF8E0;
    --c-banana20: #FFF3B7;
    --c-banana25: #FFDBAF;
    --c-banana30: #FDC2A5;
    --c-banana37: #bd7548;

    --c-taro0: #55034D;
    --c-taro10: #F0F0FF;
    --c-taro15: #e6e6ff;
    --c-taro20: #A4A4FF;
    --c-taro25: #9083DF;
    --c-taro30: #7B61BF;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: var(--font-stack);
    /* outline: 1px solid rgba(255, 0, 0, 0.5); */
}

body {
    font-size: var(--em-size);
}

a,
a:link,
a:visited {
    display: inline-block;
    padding: 0.75rem 1.5rem;

    font-family: var(--font-stack);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-radius: 3rem;
    border: none;

    --gradient-light: var(--c-banana20);
    --gradient-dark: #ffd0bb;
    --text-color: var(--c-banana0);
    color: var(--text-color);
    outline-offset: -1px;
}

a:hover {
    --text-color: var(--c-mochi0);
}

a>svg {
    display: inline-block;
    vertical-align: -8%;
    margin-left: 0px;
    margin-right: 8px;
    fill: var(--text-color);
}

h1 {
    margin: 10px auto 32px auto;
    color: var(--c-mochi0);
}

main {
    padding: 8rem 3rem;
    text-align: left;
    margin-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
}

p {
    color: var(--c-mochi0);
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 16px;
}
