<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.name }} • {{ title }}</title>

		<!-- Stylesheet -->
		<link type="text/css" rel="stylesheet" href="{{ '/css/style.css' | url  }}">

		<link rel="icon" href="/brand/favicon.svg">

		<!-- SEO -->
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ site.keywords }}">

		<!-- Basic Open Graph -->
		<meta itemProp="name" content="{{ site.defaultOGTitle }}" class="next-head"/>
		<meta itemProp="description" content="{{ site.defaultOGBody }}" class="next-head"/>
		<meta itemProp="image" content="{{ site.defaultOGPreview }}" class="next-head"/>

		<!-- Twitter specific Open Graph -->
		<meta name="twitter:card" content="summary_large_image" class="next-head"/>
		<meta name="twitter:site" content="{{ site.twitter }}" class="next-head"/>
		<meta name="twitter:title" content="{{ site.defaultOGTitle }}" class="next-head"/>
		<meta name="twitter:description" content="{{ site.defaultOGBody }}" class="next-head"/>
		<meta name="twitter:creator" content="{{ site.twitter }}" class="next-head"/>
		<meta name="twitter:image:src" content="{{ site.defaultOGPreview }}" class="next-head"/>

		<!-- Generic Open Graph -->
		<meta property="og:title" content="{{ site.defaultOGTitle }}" class="next-head"/>
		<meta property="og:type" content="article" class="next-head"/>
		<meta property="og:url" content="{{ process.env.SITE_URL }}" class="next-head"/>
		<meta property="og:image" content="{{ site.defaultOGPreview }}" class="next-head"/>
		<meta property="og:description" content="{{ site.defaultOGBody }}" class="next-head"/>
		<meta property="og:site_name" content="{{ site.name }}" class="next-head"/>

	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
