* {
	padding: 0;
	margin: 0;
}
html, body {
	background: aliceblue;
	overflow: hidden;
}

h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: "Cantarell";
	color: steelblue;
}
