<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="icon" href="/brand/whale.svg" />

    <!-- SEO -->
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="product, design, ceo, entrepreneur, research, execution, growth, french, apple, upthere, tilde, fontcase, sketch, bowtie, icons">

    <!-- Basic Open Graph -->
    <meta itemProp="name" content="{{ page.ogTitle }}" class="next-head"/>
    <meta itemProp="description" content="{{ page.ogDescription }}"/>
    <meta itemProp="image" content="{{ page.ogImage }}" class="next-head"/>

    <!-- Twitter specific Open Graph -->
    <meta name="twitter:card" content="summary_large_image" class="next-head"/>
    <meta name="twitter:site" content="@lobau" class="next-head"/>
    <meta name="twitter:title" content="{{ page.ogTitle }}" class="next-head"/>
    <meta name="twitter:description" content="{{ page.ogDescription }}" class="next-head"/>
    <meta name="twitter:creator" content="@lobau" class="next-head"/>
    <meta name="twitter:image:src" content="{{ page.ogImage }}" class="next-head"/>

    <!-- Generic Open Graph -->
    <meta property="og:title" content="{{ page.ogTitle }}" class="next-head"/>
    <meta property="og:type" content="article" class="next-head"/>
    <meta property="og:url" content="https://lobau.io" class="next-head"/>
    <meta property="og:image" content="{{ page.ogImage }}"/>
    <meta property="og:description" content="{{ page.ogDescription }}" class="next-head"/>
    <meta property="og:site_name" content="{{ page.ogTitle }}" class="next-head"/>

    <script type="text/javascript">
      setTheme = (themeName) => {
        localStorage.setItem("theme", themeName);
        document.documentElement.className = themeName;
      };

      toggleTheme = () =>
        localStorage.getItem("theme") === "dark"
          ? setTheme("light")
          : setTheme("dark");

      (function () {
        if (localStorage.getItem("theme") === "dark") {
          setTheme("dark");
        } else {
          if (
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            setTheme("dark");
          } else {
            setTheme("light");
          }
        }
      })();

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => {
          e.matches ? setTheme("dark") : setTheme("light");
        });
    </script>
  </head>

  <body>
    <main>
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
  </body>
</html>
