---
layout      : layouts/base.njk
title       : laurent baumann
description : "Research, execution, growth. I identify pain points, design solutions, and help people discover them."
---
<main class="shadedBackground" data-param='{
		"centerColor": "#fff3b7",
        "outerColor": "#ffdbaf",
		"size": "1200px"
	}'>

<header>
  	<h1>Laurent Baumann</h1>
	<p>I am currently the founder and CEO of <a target="_blank" href="https://popstage.com">PopStage</a>.</p>
	<p>Since 2006, I helped companies such as Sophiestication, Bohemian Coding, Upthere, Apple, Sandisk, and more to build products used by millions.</p>
  	<a tabindex="-1" target="_blank" href="https://twitter.com/lobau"><button class="shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"size": "1200px",
		"shadow": "130, 62, 8",
		"elevation": 50,
		"transparency": 0.15
	}'>Twitter</button></a>
	<a tabindex="-1" target="_blank" href="https://github.com/lobau"><button class="shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"shadow": "130, 62, 8",
		"size": "1200px",
		"elevation": 50,
		"transparency": 0.15
	}'>GitHub</button></a>
	<a tabindex="-1" target="_blank" href="https://dribbble.com/lobau"><button class="shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"shadow": "130, 62, 8",
		"size": "1200px",
		"elevation": 50,
		"transparency": 0.15
	}'>Dribbble</button></a>
	{# <a tabindex="-1" target="_blank" href="https://www.linkedin.com/in/laurentbaumann/"><button class="shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"shadow": "130, 62, 8",
		"size": "1200px",
		"elevation": 50,
		"transparency": 0.15
	}'>Linkedin</button></a> #}
</header>

{# <section>
  <article class="shadedBackground shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"size": "1200px",
		"shadow": "130, 62, 8",
		"elevation": 30,
		"transparency": 0.15
	}'>
    <p>She looked up, but it was all dark overhead. There was not a moment to be lost.</p>
    <p>It was all very well to say Drink me, but the wise little Alice was not going to do that in a hurry.</p>
</article>
  <article class="shadedBackground shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"size": "1200px",
		"shadow": "130, 62, 8",
		"elevation": 30,
		"transparency": 0.15
	}'>
    <p>She looked up, but it was all dark overhead. There was not a moment to be lost.</p>
    <p>It was all very well to say Drink me, but the wise little Alice was not going to do that in a hurry.</p>
</article>
  <article class="shadedBackground shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"size": "1200px",
		"shadow": "130, 62, 8",
		"elevation": 30,
		"transparency": 0.15
	}'>
    <p>She looked up, but it was all dark overhead. There was not a moment to be lost.</p>
    <p>It was all very well to say Drink me, but the wise little Alice was not going to do that in a hurry.</p>
</article>
  <article class="shadedBackground shaded" data-param='{
		"centerColor": "#fff",
		"outerColor": "#eee",
		"size": "1200px",
		"shadow": "130, 62, 8",
		"elevation": 30,
		"transparency": 0.15
	}'>
    <p>She looked up, but it was all dark overhead. There was not a moment to be lost.</p>
    <p>It was all very well to say Drink me, but the wise little Alice was not going to do that in a hurry.</p>
</article>
</section> #}
</main>

<!-- Scripts -->
<script type="text/javascript" src="{{ '/script.js' | url  }}"></script>