@font-face {
  font-family: "Hauora";
  src: url(/css/fonts/Hauora-Regular.ttf) format("truetype"),
    url(/css/fonts/Hauora-Regular.woff2) format("woff2"),
    url(/css/fonts/Hauora-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Hauora";
  src: url(/css/fonts/Hauora-ExtraBold.ttf) format("truetype"),
    url(/css/fonts/Hauora-ExtraBold.woff2) format("woff2"),
    url(/css/fonts/Hauora-ExtraBold.woff) format("woff");
  font-weight: 800;
}

:root {
  --font-stack: "Hauora", Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  /* background: transparent url(couleurs_background.jpg) center center no-repeat; */
  /* background-size: cover; */
  overflow: hidden;
  font-family: var(--font-stack);
  font-weight: 400;
}

#background {
  position: absolute;
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  background: url(couleurs_background.jpg) center center repeat;
  background-size: 50% auto;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#picker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  background: white;
  width: 340px;
  height: 266px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

#header {
  width: 100%;
  height: 110px;
  background-color: gold;
}

#contrastHeader {
  position: absolute;
  top: 20px;
  left: 24px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
}

#contrastValue {
  position: absolute;
  top: 60px;
  left: 24px;
  font-weight: 400;
  /* text-transform: uppercase; */
  font-size: 18px;
}

#form {
  display: grid;
  grid-template-columns: 80px auto 40px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  font-family: var(--font-stack);
  font-size: 16px;
  line-height: 1.6;
  color: "#666";
  padding: 24px;
}

.inputLabel {
  display: inline-block;
}

.colorValue {
  display: inline-block;
}

input[type="range"] {
  display: inline-block;
  width: 100%;
}

#output {
  grid-column: 1/-1;
  margin-top: 6px;
  padding: 12px;
  background-color: #f3f1f0;
  border-radius: 4px;
}

#close {
  position: absolute;
  top: 9px;
  right: 9px;
}

#contrasteapp {
  position: absolute;
  left: calc(50% - 100px);
  top: 2em;
  width: calc(818px * 0.8);
  height: calc(684px * 0.8);
  background: transparent url("contrasteapp.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: var(--shadow-large);
  overflow: hidden;
}

/* #icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-300px);
  width: 180px;
  height: 180px;
  background: transparent url("couleurs.png") 0 0 no-repeat;
  background-size: 100% 100%;
  filter: var(--shadow-large);
  overflow: hidden;
} */
